{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

In this inaugural list, the FT — in partnership with data provider [Statista](https://www.statista.com/aboutus/) and supported by law firm [Mishcon de Reya](https://theleap.mishcon.com) — has sought to find fast growing UK companies that are also making an impact on their industry, or wider society.

This built on data from the [FT 1000: Europe’s Fastest Growing Companies](https://ig.ft.com/ft-1000/2018/), a regional ranking of those businesses growing most quickly in revenue terms.

To make it into this first edition of the FT Future 100 UK, businesses had to excel in one of four categories, three of them qualitative and one based purely on data.

_To read case studies and analysis from this year's FT Future 100 UK, click [here](http://www.ft.com/reports/ft-future-100-uk)._

The qualitative categories identified companies seeking to make a positive impact via their environmental, social and governance (ESG) policies, or promoting diversity, or disrupting their industry.

They were selected by an expert panel led by FT journalists (see methodology below list).

Judges valued companies that went beyond corporate speak and industry minimum standards and demonstrated a thought-through approach to boosting diversity in management, for example.

When it came to the disruption category, judges took into account measures such as research and development spending as a proportion of revenue, and the company’s own pitch as a disrupter.

The fourth category recognises those companies that made it into the Europe-wide FT 1000 ranking two years in a row, thus demonstrating consistent revenue growth. Some of these are familiar names from the disruptive end of the technology sector, but others have a more traditional business model.

If a company was lauded in a qualitative category but also met the defined criterion of “consistent growth”, it received a “CG” in the extra column.

If the company impressed across all the qualitative categories, like [AnalogFolk](http://ft.com/content/a1690be6-a7c1-11e8-a1b6-f368d365bf0e), it won the accolade of “AR” for all-rounder.

{% endmarkdown %}

{% include "ads/mid.html" %}

{% include "table/index.html" %}

<h2 id="methodology">Methodology</h2>
{% markdown %}

For the three qualitative categories (ESG, diversity, disruption), companies were selected on the basis of information they submitted to the FT Future 100 UK survey.

The judging panel — a mixture of corporate and research experts — gave a preliminary score to the candidates based on evaluation of the data and written submissions provided as part of the survey.

This was a 1 to 5 score, given first by the lead judges on that particular category. Based on the average pre-score, discussion of the entrants then took place at a judging meeting, led by FT journalists.

For the overall list, the judges decided to pick those companies making an impact on diversity first. All respondents given a final diversity score above a set average were absorbed into that category.

From the remaining companies, all entries with an ESG score above an agreed rating were placed into that category.

In the final disruption set, judges selected companies from the remaining pool that achieved above a set score for industry disruption. Where a company cleared the hurdle in all three categories, they were marked as an all-rounder.

All those companies listed above as “consistent growers” made the FT Future 100 UK purely on the basis of their revenue growth: meaning they ranked among the top 1,000 European companies in both the 2017 and 2018 FT rankings.

This means they either did not provide extra information to this survey, or did not sufficiently impress judges in any of the qualitative categories.

Entrants that did not qualify for “consistent growth” and did not stand out in any qualitative category did not make the list.

### The judging panel

**Kathryn Britten**
AlixPartners

**Emilie Colker**
Ideo

**Bruce Duguid**
Hermes Investment Management

**Luciana Lixandru**
Accel Partners

**Andrew Rimmington**
Mishcon de Reya

**Diandra Soobiah**
Nest Corporation

**Thomas Clark**
Statista

**Felix Kapel**
Statista

**Leyla Boulton**
Special Reports Editor, FT

**Elaine Moore**
Lex Deputy Editor, FT

**Ian Smith**
Special Reports Commissioning Editor, FT, and judging chair

{% endmarkdown %}
{% endblock %}
