{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

The corporate sectors of the Asia-Pacific region vary in maturity, levels of governance and international profile. But this list of fast-growing companies, compiled with the FT's research partner Statista, demonstrates that – from ecommerce and financial services to healthcare and beyond – technology businesses are leading the way.

The inaugural FT 1000 High-Growth Companies Asia-Pacific list considered companies based in 11 of the region's more developed markets: Australia, Hong Kong, India, Indonesia, Japan, Malaysia, New Zealand, the Philippines, Singapore, South Korea and Taiwan. Those that participated have been ranked according to the percentage growth in their revenues between 2013 and 2016.

Accounting for 134 of the companies that made the list, Tokyo emerges as the top city, followed by Mumbai on 60 and Sydney on 52. Technology was the most represented sector, followed by industrial goods and healthcare.

See our [methodology note](#methodology) below or our [FAQ document](https://www.ft.com/content/9af51318-6898-11e7-9a66-93fb352ba1fe) for full details about how the list was compiled, or download a [CSV spreadsheet of the data](https://bertha.ig.ft.com/view/publish/dsv/1kasbdvzUs8KZC2SXogta7C_k_TFF_lFVp1-GD9lu8Uw/FT1000%20Asia-Pacific.csv).

{% endmarkdown %}

{% include "ads/mid.html" %}

{% include "table/index.html" %}

<h1 id="methodology">Methodology</h1>
{% markdown %}

This is a list of 1000 fast-growing companies in the Asia-Pacific region, ranked by their compound annual growth in revenues between 2013 and 2016. The ranking was created through a complex procedure. Although the search was very extensive, the ranking does not claim to be complete, as some companies did not want to make their figures public or did not participate for other reasons.

Through research in company databases and other public sources Statista has identified tens of thousands of companies in the Asia-Pacific region as potential candidates for the FT 1000 ranking. These companies were invited to participate in the competition by post, email and telephone.

The project was advertised online and in print, allowing all eligible companies to register via the websites created by Statista and the Financial Times. The application phase ran from August 14 to November 15 2017. The revenue figures submitted had to be certified by the chief executive, chief financial officer or a member of the executive committee of the company.

## Criteria for inclusion

To be included in the list of fast-growing companies in the Asia-Pacific region, a company had to meet the following criteria:

* Revenue of at least $100,000 generated in 2013 (or currency value equivalent as of December 31, 2013)
* Revenue of at least $1m generated in 2016 (or currency value equivalent as of December 31, 2016)
* The company is independent (the company is not a subsidiary or branch office of any kind)
* Be headquartered in one of 11 territories in Asia-Pacific listed below
* The revenue growth between 2013 and 2016 was primarily organic (ie “internally” generated)
* If a company is listed on a stock exchange, its share price has not fallen 25 per cent or more in the past 12 months

Companies from these territories were eligible to participate: Japan, South Korea, India, Australia, Hong Kong, Taiwan, Singapore, New Zealand, Malaysia, Indonesia and the Philippines.

## Research phase

As well as those who applied directly, Statista examined the official revenue data of more than 14,000 public companies in the 11 participating territories to find suitable entrants. In the next step all companies that met the criteria were added to the list.

## Calculation of growth rates

The calculation of company growth rates is based on the revenue figures submitted by the companies in their respective national currency. For better comparability in the ranking the revenue figures were converted into US dollars. The average exchange rate for the financial year indicated by the company was used for this purpose.

The compound annual growth rate (CAGR) was calculated as follows:

>> ((revenue2016 / revenue2013 )^(1/3)) - 1 = CAGR

The absolute growth between 2013 and 2016 was calculated as follows:

>> (revenue2016 / revenue2013 ) - 1 = Growth rate

## Evaluation and quality assurance

All data reported or published by the companies were processed and checked by Statista. Missing data entries (employee numbers, address data etc) were researched in detail. Companies that did not fulfil the criteria for inclusion in the ranking were deleted, as were companies where there was concern over the reliability of the data.

The minimum average growth rate required to be included in the ranking this year was 10.1 per cent.

{% endmarkdown %}
{% endblock %}
