<div data-o-grid-colspan="12 S11 Scenter M5 L4">
  <input id="table" type="text" class="search" placeholder="Type to filter the FT Future 100" />
</div>

<table class="sortable o-table--compact" style="min-width:80%; text-align: top;" >
  <thead>
    <tr>
      <th class="sortable">Company</th>
      <th class="sortable">Sector</th>
      <th class="sortable">Impact</th>
      <th class="sortable">All-Rounder/<br />Consistent Growth</th>
      <th class="sortable">Revenue CAGR<br /><span class="o-table__cell--content-secondary">2013-2016</span></th>
      <th class="sortable">Revenue<br/><span class="o-table__cell--content-secondary">2016 (&rsquo;000 &pound;)</span></th>
      <th data-sort-method="number-na" class="sortable">Employees<br/><span class="o-table__cell--content-secondary">2017</span></th>
      <th class="sortable">Employee<br />Growth <span class="o-table__cell--content-secondary">2013-16</span></th>
      <th class="sortable">Proportion of<br />Women</th>
      <th class="sortable">Founded</th>
    </tr>
  </thead>
  <tbody>
{% for row in table %}
    <tr>
      <td style="text-align: left;">{% if row.url != 'n/a' %}<a href="http://{{ row.url }}" rel="nofollow" target="_blank">{{ row.company }}</a>{% else %}{{ row.company }}{% endif %}</td>
      <td style="text-align: left;">{{ row.sector }}</td>
      <td style="text-align: left;">{{ row.impact }}</td>
      <td style="text-align: left;">{% if row.ar %}<span class="pill">AR</span>{% endif %}{% if row.cg and row.impact != 'Consistent Growth' %}<span class="pill">CG</span>{% endif %}</td>
      <td style="text-align: right;">{% if row.revenuegrowth %}{{ row.revenuegrowth }}%{% endif %}</td>
      <td style="text-align: right;">{% if row.revenue2016 %}{{ row.revenue2016 | commaify }}{% endif %}</td>
      <td style="text-align: right;">
        {% if row.employees2017 %}{{ row.employees2017 | commaify }}{% endif %}{% if row.asterisk %}**{% endif %}
      </td>
      <td style="text-align: right;">{% if row.employeesgrowth != 'n/a' %}{{ row.employeesgrowth | commaify }}{% else %}n/a{% endif %}</td>
      <td style="text-align: right;">{% if row.women != 'n/a' %}{{ row.women }}%{% else %}n/a{% endif %}</td>
      <td style="text-align: right;">{% if row.founded %}{{ row.founded }}{% endif %}</td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9">* Companies marked with an asterisk had less than 12 months of revenue in the 2013 financial year, but it still passed the FT 1000 minimum equivalent of €100,000 revenue.</td>
    </tr>
    <tr>
      <td colspan="9">** Employee numbers marked with an asterisk are for 2016, and absolute employee growth is 2013-16.</td>
    </tr>
  </tfoot>
</table>
