<input id="table" type="text" class="search" placeholder="Type to filter the FT 1000..." data-o-grid-colspan="12 S2 Scenter M4 L4 XL4"/>
<table class="sortable o-table--compact" style="min-width:80%; text-align: top;" >
<!--<table id="ft1000" class="o-table o-table--responsive-flat" data-o-component="o-table" data-o-table-responsive="flat">-->
	<thead>
		<tr>
		<tr>
			<th class="sortable" data-sort-default></th>
			<th class="sortable">Company</th>
			<th class="sortable align-left">Country</th>
			<th class="sortable align-left">Sector</th>
			<th class="sortable">Revenue<br />Growth <span class="o-table__cell--content-secondary">2012-5</span></th>
			<th class="sortable">CAGR<br/><span class="o-table__cell--content-secondary">2012-5</span></th>
			<th class="sortable">Revenue<br/><span class="o-table__cell--content-secondary">2015 (&rsquo;000 &euro;)</span></th>		
			<th class="sortable">Employees<br/><span class="o-table__cell--content-secondary">2015</span></th>
			<th class="sortable">Founded</th>
		</tr>
	</thead>
	<tbody>
{% for row in table %}
		<tr>
			<td style="text-align: right;">{{ row.rank | commaify }}</td>
			<td style="text-align: left;">{% if row.url %}<a href="http://{{ row.url }}" rel="nofollow" target="_blank">{{ row.company }}</a>{% else %}{{ row.company }}{% endif %}</td>
			<td style="text-align: left;"><a href="https://www.ft.com/topics/places/{{ row.country }}">{{ row.country }}</a></td>
			<td style="text-align: left"><a href="{{ row.ftindustrylink }}">{{ row.ftindustry }}</td>
			<td style="text-align: right;">{% if row.growthabsolute %}{{ (row.growthabsolute) | round | commaify }}%{% endif %}</td>
			<td style="text-align: right;">{% if row.growthcompoundannual %}{{ (row.growthcompoundannual) | commaify }}%{% endif %}</td>
			<td style="text-align: right;">{% if row.revenueeuro2015 %}{{ row.revenueeuro2015 | round | commaify }}{% endif %}</td>
			<td style="text-align: right;">{% if row.employees2015 %}{{ row.employees2015 | round | commaify }}{% endif %}</td>
			<td style="text-align: right;">{% if row.foundedyear %}{{ row.foundedyear }}{% endif %}</td>
		</tr>
{% endfor %}
	</tbody>
</table>