<div data-o-grid-colspan="12 S2 Scenter M4 L4 XL4">
	<input id="table" type="text" class="search" placeholder="Type to filter the FT 1000..." />
</div>

<table class="sortable o-table--compact" style="min-width:80%; text-align: top;" >
<!--<table id="ft1000" class="o-table o-table--responsive-flat" data-o-component="o-table" data-o-table-responsive="flat">-->
	<thead>
		<tr>
		<tr>
			<th class="sortable" data-sort-default></th>
			<th class="sortable">Company</th>
			<th class="sortable align-left">Country</th>
			<th class="sortable align-left">Sector</th>
			<th class="sortable">Revenue<br />Growth <span class="o-table__cell--content-secondary">2013-16</span></th>
			<th class="sortable">CAGR<br/><span class="o-table__cell--content-secondary">2013-16</span></th>
			<th class="sortable">Revenue<br/><span class="o-table__cell--content-secondary">2016 (&rsquo;000 &dollar;)</span></th>
			<th data-sort-method="number-na" class="sortable">Employees<br/><span class="o-table__cell--content-secondary">2016</span></th>
			<th class="sortable">Founded</th>
		</tr>
	</thead>
	<tbody>
{% for row in table %}
		<tr>
			<td style="text-align: right;">{{ row.rank | commaify }}</td>
			<td style="text-align: left;">{% if row.url %}<a href="http://{{ row.url }}" rel="nofollow" target="_blank">{{ row.company }}</a>{% else %}{{ row.company }}{% endif %}</td>
			<td style="text-align: left;"><a href="https://www.ft.com/topics/places/{{ row.country }}">{{ row.country }}</a></td>
			<td style="text-align: left"><a href="{{ row.ftindustrylink }}">{{ row.ftindustry }}</td>
			<td style="text-align: right;">{% if row.growthabsolute %}{{ (row.growthabsolute) | round | commaify }}%{% endif %}</td>
			<td style="text-align: right;">{% if row.growthcompoundannual %}{{ (row.growthcompoundannual) | commaify }}%{% endif %}</td>
			<td style="text-align: right;">{% if row.revenue2016 %}{{ row.revenue2016 | round | commaify }}{% endif %}</td>
			<td style="text-align: right;">{% if row.employees2016 %}{{ row.employees2016 | round | commaify | dashify }}{% endif %}</td>
			<td style="text-align: right;">{% if row.foundedyear %}{{ row.foundedyear }}{% endif %}</td>
		</tr>
{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9">* This company had less than 12 months of revenue in the 2013 financial year, but it still passed $100,000 revenue.</td>
		</tr>
	</tfoot>
</table>
